<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.style_image{
  height: 100px;
  width: 200px;
}
</style>
</head>
<body>

<h2>Last 25 images uploaded by all users</h2>

<table class="container-all">
  <tr>
    <th>Image</th>
    <th>Tagline</th>
    <th>Uploaded By</th>
    <th>Uploaded Date</th>
  </tr>
  <% @images.each do |image| %>
    <tr>
      <td><%= image_tag image.image_url, :class => "style_image" %></td>&nbsp;&nbsp;
      <td><%= image.tagline %></td>&nbsp;&nbsp;
      <td><%= image.user.email%></td>&nbsp;&nbsp;
      <td><%= image.created_date%></td>&nbsp;&nbsp;
    </tr>
    <% end %>
  
</table>

</body>
</html>